body {
  margin: 0;
  padding: 0;
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
}

.main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 350px;
  height: 350px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.5rem;
  padding: 10px;
  position: absolute;
}
@media (min-width: 375px) {
  .container {
    width: 330px;
    height: 350px;
  }
}
.star-icon {
  margin: 7px;
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.226);
  display: inline;
  padding: 10px;
}

svg {
  margin-top: 15px;
  font-size: 15px;
}

h2 {
  padding: 8px;
  font-size: 30px;
  color: hsl(0, 0%, 100%);
}
p {
  font-size: 15px;
  color: hsl(216, 12%, 54%);
}

.ratings {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
}

.button {
  border-radius: 50%;
  background-color: rgba(128, 128, 128, 0.226);
  padding: 10px;
  width: 22px;
  display: flex;
  justify-content: center;
  color: hsl(216, 12%, 54%);
}

button {
  width: 100%;
  display: flex;
  justify-content: center;
  border-radius: 26px;
  background-color: hsl(25, 97%, 53%);
  align-items: center;
  padding: 8px;
  border: none;
  color: hsl(0, 0%, 100%);
}

.submit:hover {
  background-color: hsl(0, 0%, 100%);
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.button:hover {
  background-color: hsl(25, 97%, 53%);
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}

.submit-container {
  flex-direction: column;
  display: flex;
  align-items: center;
  width: 350px;
  height: 350px;
  background-color: hsl(213, 19%, 18%);
  border-radius: 1.5rem;
  padding: 10px;
}
@media (min-width: 375px) {
  .submit-container {
    width: 330px;
    height: 350px;
  }
}
img {
  width: 106px;
  height: 80px;
}

.rating-info {
  border-radius: 25px;
  background-color: rgba(128, 128, 128, 0.226);
  color: hsl(25, 97%, 53%);
  margin-top: 25px;
  padding: 4px;
}
.thanks {
  color: hsl(0, 0%, 100%);
  margin-top: 34px;
  font-size: 25px;
}
.description p {
  margin-top: 54px;
  font-size: 16px;
  display: flex;
  text-align: center;
}

.show {
  position: absolute;
}
